body {
  background-color: gray;
}

.naglowek {
  background-color: red;
  width: 100%;
  height: 60px;
}

.nav {
  background-color: green;
  width: 30%;
  height: 300px;
  float: left;
}

.tresc {
  background-color: blue;
  width: 40%;
  height: 300px;
  float: left
}

.reklama {
  background-color: yellow;
  width: 30%;
  height: 300px;
  float: left
}

.reklama::after {
  clear: both;
}

.stopka {
  background-color: magenta;
  width: 100%;
  height: 30px;
  display: flex;
}
