body {
  background-color: darkgray;
}


section {
  background-color: darkslategray;
  padding: 2vh;
  margin: 2vh;
  color: wheat;
}

h1 {
  font-size: 4vw;
  text-align: center;
  color: #CCaa50
}

h2 {
  font-size: 3vw;
  text-align: center;
}

t {
  font-size: 1.5vw;
  font-weight: 600;
}

.none {
  display: none;
}

.inline-block {
  display: inline-block;
  border: 1px solid orange;
  width: 60%;
  height: 10%;
  overflow: auto;
  resize: both;
}

.inline-block h2 {
  border: 1px solid red;
}

.block {
  display: block;
  border: 1px solid orange;
  overflow: auto;
  resize: both;
}

.block h2 {
  border: 1px solid red;
  margin: 3px;
}

.inline {
  border: 1px solid orange;
  display: inline;
  padding: 3px;
}

.inline span {
  border: 1px solid red;
}


.flex {
  display: flex;
  border: 1px solid orange;

  overflow: auto;
  resize: both;
}

.flex h2 {
  border: 1px solid red;
  flex: 1 1 auto;
}
