body {
  background-color: darkgray;
}

section {
  background-color: darkslategray;
  padding: 2vh;
  margin: 2vh;
  color: wheat;
}

h1 {
  font-size: 4vw;
  text-align: center;
  color: #CCaa50
}

h2 {
  font-size: 3vw;
  text-align: center;
}

t {
  font-size: 1.5vw;
  font-weight: 600;
}

.none {
  display: none;
}

.inline-block {
  display: inline-block;
  background-color: lightcoral;
  margin: 3px;
  width: 60%;
  height: 10%;
}

.block {
  display: block;
  background-color: lightcoral;
  margin: 3px;

}
