body {
  background-color: green;
}


footer {
  width: 100%;
  display: flex;
  background-color: #1A1B26;
  color: lightgray;
  font-size: 20px;
  font-weight: 700;
  padding: 1vh;
  margin-bottom: 10vh;
}

.license {
  align-items: left;
  width: 45%;
  font-size: 7px;
  font-weight: 300;
}

.creation-date {
  align-items: left;
  width: 45%;
}

footer a {
  color: lightgray;
}

.content {
  font-size: 400px;
}


.anchor {
  transition: 100ms;
  font-size: 4vh;
  position: fixed;
  z-index: 50;
  background-color: #40404090;
  border-radius: 2vh;
  font-weight: 400;
  color: lightblue;
  padding: 1vh;
  left: 1vh;
}

.anchor:hover {
  transition: 300ms;
  background-color: #404040E0;
}

.start {
  bottom: 1vh;
}

.end {
  top: 1vh;
}
