body {
  background-color: lightgray;
}


.url_div {
  width: 350px;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  height: 150px;
}

.single_url {
  transition: 200ms;
  background-color: green;
  width: 350px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: -3px 3px 2px 2px gray;
}

.url {
  color: lightgray;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 0 auto;
  transition: 200ms;
  font-size: 30px;
  line-height: initial 5px;
}

.single_url:hover {
  transition: 300ms;
  background-color: darkgreen;
  transform: scale(1.07);
}

.image_link {
  transition: 100ms;
  display: inline-block;
  margin: auto;
}

.image_link:hover {
  transition: 300ms;
  transform: scale(1.2);
}

.title_or_smth {
  font-size: 60px;
  text-align: center;
  display: block;
  margin: 0 auto;
}


.back_button {
  transition: 200ms;
  display: inline-block;
  padding: 10px 20px;
  background-color: dodgerblue;
  color: azure;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  margin-left: 5%;
}

.back_button:hover {
  transition-duration: 300ms;
  background-color: blue;
  transform: scale(1.1);
}

.informations_left {
  height: 500px;
  font-size: 40px;
}

.informations_left img {
  float: left;
  margin-right: 20px;

  height: 500px;
  width: 500px
}

.informations_right {
  float: right;
  margin-top: 30px;
  height: 500px;
  font-size: 40px;
}


.informations_right img {
  float: right;
  margin-left: 20px;

  height: 470px;
  width: 470px;
}

.gallery {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 930px;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  gap: 10px;
}

.gallery img {
  transition: 100ms;
}

.gallery img:hover {
  transition: 300ms;
  transform: scale(1.03);
}
