body {
  background-color: lightgray;
}

.title {
  font-size: 4rem;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.smaller_title {
  font-size: 2.5rem;
  margin-top: 1rem;
}

.center {
  display: block;
  text-align: center;
  margin: 0 auto;
}


table {
  width: 60%;
  border-collapse: collapse;
}

TABLE,
TR,
TD {
  border: 2px solid black;
  transition: 100ms;
}

TR:hover {
  background-color: aliceblue;
  font-weight: bold;
  transition: 300ms;
}

TR:nth-child(even) {
  background-color: cadetblue;
}

TR:nth-child(odd) {
  background-color: aqua;
}


thead {
  background-color: lightgoldenrodyellow;
}


tfoot {
  background-color: lightgreen;
}

TD {
  padding-left: 10px;
}
