body {
  background-color: lightgray;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.center {
  text-align: center;
  margin: 0 auto;
}


table {
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto;
  flex: 1;
}

TABLE,
TR,
TD {
  border: 2px solid black;
  transition: 100ms;
  text-align: center;
  padding: 0.5%;
}

TR:nth-child(even) {
  background-color: #DDD6D0;
  color: #000;
}

TR:nth-child(odd) {
  background-color: #C2CDCE;
  color: #000;
}

tfoot {
  background-color: lightgreen;
}

#znajomi {
  font-size: 1.3rem;
  display: flex;
  text-align: center;
  margin: 0 auto;
  padding: 4%;
  padding-top: 1%;
}

#znajomi td {
  margin-left: 1rem;
  margin-right: 1rem;
}

#plan {
  font-weight: bold;
  display: flex;
  padding-left: 4%;
  padding-right: 4%;
}

.time {
  white-space: nowrap;
}

thead td {
  background-color: #E4E4E4;
}

tfoot td {
  background-color: #E4E4E4;
}

thead {
  font-weight: bolder;
}
