body {
  background-color: lightgray;
}

.center {
  display: block;
  text-align: center;
  margin: 0 auto;
}


table {
  width: 60%;
  border-collapse: collapse;
}

TABLE,
TR,
TD {
  border: 2px solid black;
  transition: 100ms;
  text-align: center;
}

TR:nth-child(even) {
  background-color: cadetblue;
}

TR:nth-child(odd) {
  background-color: aqua;
}




tfoot {
  background-color: lightgreen;
}



#plan {
  margin-top: 3%;
}

thead {
  font-weight: bold;
}
